@model PatientDetailsViewModel

<div class="content-wrapper">
    <section class="content" style="margin-top:-77%">
        <div class="box ">
            <div class="box-header with-border">
                <h3 class="box-title"> Patient Details </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="card" style="width: 50rem; margin-left:30%;">
                <div class="card-body">
                    <h5 class="card-title">Name :  @Model.Patient.Name</h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Address : @Model.Patient.Token</li>
                    <li class="list-group-item">Address : @Model.Patient.Address</li>
                    <li class="list-group-item">Phone : @Model.Patient.Phone</li>
                    <li class="list-group-item">Address : @Model.Patient.Height</li>
                    <li class="list-group-item">Address : @Model.Patient.Weight</li>


                </ul>

            </div>
            <a asp-controller="Patient" asp-action="Edit" asp-route-id="@Model.Patient.Id" class="btn btn-primary"><i class="fa fa-marker fa-lg"></i>Edit</a>
            <a asp-controller="Appointment" asp-action="Index" asp-route-id="@Model.Patient.Id" class="btn btn-primary"><i class="fa fa-marker fa-lg"></i>Appointment</a>
        </div>

    </section>
    </div>